<!DOCTYPE html>
<html ng-app="SmartMirror">
<head>
   <title>Smart Mirror</title>
   <!-- Libraries -->
   <script src="js/annyang.min.js"></script>
   <script src="js/moment.js"></script>
   <script src="js/jquery.min.js"></script>
   <script src="js/angular.min.js"></script>
   <script src="js/angular-animate.min.js"></script>

   <!-- App -->
   <!--<script src="/js/init.js"></script>-->
   <script src="js/config.js"></script>
   <script src="js/app.js"></script>
   <script src="js/annyang-service.js"></script>
   <script src="js/weather-service.js"></script>
   <script src="js/map-service.js"></script>
   <script src="js/hue-service.js"></script>
   <script src="js/geolocation-service.js"></script>
   <script src="js/voice-synthesis-service.js"></script>
   <script src="js/infra-distance-service.js"></script>
   <script src="js/controller.js"></script>

   <!-- Styles and Resources -->
   <link rel="shortcut icon" href="favicon.ico" />
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="css/main.css" />
</head>
<body ng-controller="MirrorCtrl as commands">
   <div class="top" >
      <div class="top-left" ng-show="sections['display_time']">
         <div class="date grey">{{date | date : 'EEEE, MMMM d yyyy'}}</div>
         <div class="time">{{date | date : 'hh:mm a'}}</div>
      </div>
      <div class="top-right">
         <div class="weather" ng-show="sections['display_weather']">
            <div class="weather-today">
               <span class="tempreture">{{currentForcast.temperature}}&deg;</span>
            </div>
            <div class="weather-week-descriptor">{{weeklyForcast.summary}}</div>
            <div class="weather-week" ng-repeat="forcast in weeklyForcast.data" ng-if="$index > 0">
               <div class="weather-week-day">
                  <span class="day light-grey">{{forcast.day}}</span>
                  <span class="tempreture tempreture-min">{{forcast.temperatureMin}}</span>
                  <span class="tempreture tempreture-max">{{forcast.temperatureMax}}</span>
               </div>
            </div>
         </div>
      </div>
      </div>
      <div class="container">
         <div class="middle-center">
            <div ng-show="sections['display_complement']">
               <h1>{{complement}}</h1>
            </div>
            <div class="map-container animate-grow" ng-show="sections['display_map']">
               <img class="map animate-grow" ng-src="{{map}}"/>
            </div>
            <div ng-show="sections['display_menu']">
               <div>
                   <div id="box1" class="box">
                      <img src="images/datetime.png" width="140" height="140" alt="Large">
                      Say 'TIME' or 'DATE'
                       <!--p> Date &nbsp; Time </p>
                       <p> Test </p-->
                   </div>    
                   <div class="box">
                      <img src="images/weather.png" width="140" height="140" alt="Weather">
                      Say 'WEATHER'
                   </div>
                   <div class="box">
                      <img src="images/map.png" width="140" height="140" alt="Map">
                      Say 'MAP' 
                   </div>
                   <!--div class="box">
                       <p> Test </p>
                       <p> Test </p>
                   </div>
                   <div class="box">
                       <p> Test </p>
                       <p> Test </p>
                   </div>
                   <div class="box">
                       <p> Test </p>
                       <p> Test </p>
                   </div-->
               </div>
            </div>
         </div>

         <div class="bottom-center">
            <!--div ng-show="focus != 'commands'"-->
            <div ng-bind="mirror_response" />
         </div>
         <div class="colors animate-grow" ng-show="focus == 'colors'">
            <div class="color-block" ng-repeat="color in colors" style="background-color:{{color}}"></div>
         </div>
      </div>
            
      <!-- Sleep cover -->
      <div ng-show="sections['display_sleep']" class="sleep-cover fade"></div>
   </body>
   </html>
